<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h2 class="home">Só uma pessoa pode ter controle sobre sua vida profissional: você.</h2>

<body></body>

<footer class="footer">
    <p> Marcus Soares-Desenvolvedor Senior <br> Alexandre Soares-Desenvolvedor Júnior <br>Luiz Antônio-Desenvolvedor Júnior </p>
  </footer>

</html>